@use '@/styles/mixins/scrollbar-mixin' as scrollbar;

.answerContainer {
  width: 100%;
  height: 200px;
  padding: 20px;

  .editorWrapper {
    max-height: 140px;
    overflow-y: auto;
    @include scrollbar.scrollbar-style;

    & > div {
      color: #edc39d;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      font-size: 20px;

      & textarea::placeholder {
        color: antiquewhite;
        font-size: 20px;
      }
    }
  }
}