.questionContainer {
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  gap: 20px;

  .questionImage {
    width: 30%;
    flex-shrink: 0;

    & > img {
      border-radius: 10px;
    }
  }

  .questionInfo {
    flex-grow: 1;
  }
}