@use '@/styles/mixins/scrollbar-mixin.scss' as scrollbar;

.myQuestsWrapper {
    padding: 20px 40px;
    overflow: hidden;
    // max-height: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
}

.myQuestsContainer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow-y: auto;

    @include scrollbar.scrollbar-style;
}