.main {
    height: 100vh;
    max-height: 100%;

    display: grid;
    // grid-template-columns: auto 1fr auto;
    // grid-template-rows: auto 1fr;
}

.mainContent {
    padding: 50px 200px;
  
    overflow-y: scroll;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
}