@use '@/styles/mixins/scrollbar-mixin.scss' as scrollbar;

.ratingsWrapper {
    padding: 20px 40px;
    overflow: hidden;
}

.ratingsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 50vh;
    overflow-y: auto;

    @include scrollbar.scrollbar-style;
}