@use '@/styles/mixins/scrollbar-mixin.scss' as scrollbar;

.ratingsWrapper {
    display: flex;
    flex-direction: column;

    padding: 20px 40px;
    overflow: hidden;
}

.ratingsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;

    overflow-y: auto;

    @include scrollbar.scrollbar-style;
}

.paginationControls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}