@use "@/styles/variables/color-variables.scss" as c;

.button {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background: url('@/resources/wood.jpg');
  background-size: cover;
  border: c.$primary solid 5px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  color: c.$light;
}

.button::placeholder {
  color: c.$light;
}

.button[type="number"]::-webkit-inner-spin-button,
.button[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background: url('@/resources/sort.svg') no-repeat center center;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  cursor: pointer;
}